.action-btn {
    padding: 5px 10px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.action-btn:hover {
    background-color: #b02a37;
}
.add-button {
    padding: 7px 14px;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
.add-button:hover {
    background-color: #157347;
}

.action-btn.confirm {
    background-color: #28a745;
    color: #fff;
}
.action-btn.confirm:hover {
    background-color: #218838;
}